@font-face {
    font-family: editorialnew;
    font-weight:lighter;
    src: url(fonts/EditorialNew-Ultralight.woff2);
}


@font-face {
    font-family: "editorialnew";
    font-weight: bold;
    src: url(fonts/EditorialNew-Medium.woff2);
}

@font-face {
    font-family: editorialsans;
    /* font-weight:normal; */
    src: url(fonts/PPEditorialSans-Medium.otf);
}

@font-face {
    font-family: editorialsans-ul;
    /* font-weight:normal; */
    src: url(fonts/PPEditorialSans-Ultralight.otf);
}

@font-face {
    font-family: editorialnew;
    font-style:italic;
    src: url(fonts/PPEditorialNew-UltralightItalic.otf);
}



body {
    margin: 0;
    padding: 0;

    display: flex-column;
    height: 100vh;
    /* align-items:center;
    justify-content:center; */

    background-color: lightgrey;
    color: darkgrey;
}

#nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: editorialsans, sans-serif;
    font-size: .8rem;
    background-color: lightgrey;
    color: darkred;
}

#container {
    width:100vw;
    height: 90vh;
    margin: auto;
    background-color: inherit;
    color: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0px;
}