@font-face {
    font-family: editorialnew;
    font-weight:lighter;
    src: url(fonts/EditorialNew-Ultralight.woff2);
}


@font-face {
    font-family: "editorialnew";
    font-weight: bold;
    src: url(fonts/EditorialNew-Medium.woff2);
}

@font-face {
    font-family: editorialsans;
    /* font-weight:normal; */
    src: url(fonts/PPEditorialSans-Medium.otf);
}

@font-face {
    font-family: editorialsans-ul;
    /* font-weight:normal; */
    src: url(fonts/PPEditorialSans-Ultralight.otf);
}

@font-face {
    font-family: editorialnew;
    font-style:italic;
    src: url(fonts/PPEditorialNew-UltralightItalic.otf);
}




body {
    margin: 0;
    padding: 0;

    display: flex-column;
    height: 100vh;
    width:100vw;
    align-content:center;

    font-family:editorialnew;
    background-color: lightgrey;
    color: darkgrey;
}

#nav {
    height: 8vh;
    width:90vw;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: editorialsans, sans-serif;
    font-size: .8rem;

    background-color: lightgrey;
    color: darkred;
    text-align:center;
}

#nav a {
    text-decoration:none;
    color:lightgrey;
}

#nav-left {
    flex:1;
}
#nav-center {
    flex:1;
}
#nav-right {
    flex:1;
}

#container {
    width:100vw;
    height: 92vh;
    margin:auto;
    background-color: inherit;
    color: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0px;
    text-align:center;
}

#container-inner {
    width:90vw;
    margin-left:auto;
    margin-right:auto;
    margin-top: -0vh;

    font-family: editorialnew;
    font-weight:lighter;
    /* text-transform:uppercase; */
    font-size: 10rem;
    line-height: 11rem;
    text-align: center;
    overflow-wrap: break-word;
    hyphens: none;
    color: inherit;
    transition: color 0.3s ease;

}

#container-inner::selection {
    background-color: rgb(227, 227, 227);
    color: darkred;
}

.title-card {
    display:flex-row;
    justify-content:center;
    align-items:center;
    margin-top:-5rem;
}

.subtitle {
    margin:0;
    margin-top:-7rem;
    margin-bottom:1rem;

    font-size:2rem;
    line-height:3rem;
    padding:0;
    text-transform:uppercase;
    font-family:editorialsans;
    color:darkred;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: inherit;
    font-family: editorialsans;
    border-bottom: 1px solid darkred;
    color: darkred;
    padding-top: .8rem;
    margin-bottom: 5rem;
    text-transform:uppercase;
}

i {
    color: darkred;
}

.gradient {
    /* background-color:lightgrey; */
    width: 100%;
    height: 21vh;
    position: sticky;
    z-index: 2;
    pointer-events: none;
}

#top-gradient {
    top: 0rem;
    background-image: linear-gradient(to bottom, lightgrey, rgba(211, 211, 211, 0));
}

#bot-gradient {
    bottom: 0rem;
    background-image: linear-gradient(to top, lightgrey, rgba(211, 211, 211, 0));
}