body {
    overflow-y: hidden;
}

#nav-left {
    border-top:1px solid darkgrey;
}
#nav-left a{
    color:darkgrey;
}
#nav-left:hover a {
    color:darkred;
}
#nav-left:hover {
    border-top:1px solid darkred;
}
#nav-right {
    border-top:1px solid darkgrey;
}
#nav-right a{
    color:darkgrey;
}
#nav-right:hover a {
    color:darkred;
}
#nav-right:hover {
    border-top:1px solid darkred;
}
#nav-center {
    color:darkred;
    border-top:1px solid darkred;
}

#container-inner {
    display:flex;
    flex-direction:row;
    width:90vw;
    height:92vh;
    gap:1rem;

    width:90vw;
    margin-left:auto;
    margin-right:auto;
    margin-top: -0vh;

    font-family: editorialnew;
    font-weight:lighter;
    /* text-transform:uppercase; */
    font-size: 10rem;
    line-height: 11rem;
    text-align: center;
    overflow-wrap: break-word;
    hyphens: none;
    color: inherit;
    transition: color 0.3s ease;

}

.about {
    height:80vh;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    text-align:center;
    font-size:3rem;
    line-height:3.5rem;
}

#about-left {
    flex:1;
}
#about-center {
    flex:1;
    color:darkred;
    font-family:editorialsans;
    font-size:2rem;
    text-transform:uppercase;
    line-height:2.5rem;
}
#about-right {
    flex:1;
}