body {
    overflow-y: hidden;
}

#nav-left {
    border-top:1px solid darkgrey;
}
#nav-left a{
    color:darkgrey;
}
#nav-left:hover a {
    color:darkred;
}
#nav-left:hover {
    border-top:1px solid darkred;
}
#nav-right {
    border-top:1px solid darkgrey;
}
#nav-right a{
    color:darkgrey;
}
#nav-right:hover a {
    color:darkred;
}
#nav-right:hover {
    border-top:1px solid darkred;
}
#nav-center {
    color:darkred;
    border-top:1px solid darkred;
}

#container-inner {
    display:flex;
    flex-direction:row;
    width:90vw;
    height:92vh;
    gap:1rem;
}


.about {
    height:80vh;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    text-align:center;
    font-size:2.5rem;
    line-height:3rem;
}

#about-left {
    flex:1;
}
#about-center {
    flex:1;
}
#about-right {
    flex:1;
}
#about-bold {
    color:darkred;
    font-family:editorialsans;
    font-size:2rem;
    text-transform:uppercase;
}