#nav-left {
    background-color:darkred;
    color:lightgrey;
}

#nav-right {
    background-color:darkgrey;
}

#nav-right:hover a {
    color:darkred;
}

#nav-center a {
    color:darkgrey;
}

#nav-center:hover a {
    color:darkred;
}

.sticky-img {
    height: 8rem;
    position: sticky;
    z-index: 3;
    filter: grayscale(100%) drop-shadow(1.5px 1.5px 3px darkgrey);
}

.sticky-img:hover {
    filter: grayscale(0%) drop-shadow(3px 3px 4px darkred);
    height:12rem;
    width:auto;
    transition:height 0.2s ease;
}
#container-inner p {
    width:100%;
    padding:0px;
}

#container-inner a {
    text-decoration:none; 
}

#sticky-img-1 {
    top:1.5vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W21-Le_Billboard-01.webp");
}
/* #p1 {
    scroll-margin-top:3vh;
} */

#sticky-img-2 {
    top:48vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W21-Le_Facade-Color.webp");
}

#sticky-img-3 {
    top:70vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W20-Le_Sign-02.webp");
}

#sticky-img-4 {
    top:35vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/05/Bendito_Mockup-LB25-W12-Le_Truck.webp");
}

#sticky-img-5 {
    top:22vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/04/Bendito_Mockup-LB25-W10-Le_Coffee_Cup.webp");
}

#sticky-img-6 {
    top:55vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/08/Bendito_Mockup-LB25-W29-Le_Box.webp");
}

#sticky-img-7 {
    top:16vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/12/Bendito_Mockup-LB26-W01-Le_Business_Card.webp");
}

#sticky-img-8 {
    top:30vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/09/Bendito_Mockup-LB25-W31-Le_Sock.webp");
}

#sticky-img-9 {
    top:62vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/02/Bendito_Mockup-LB25-W05-Le_MacBook-02.webp");
}

#container::-webkit-scrollbar {
    width: 6px;         
}

#container::-webkit-scrollbar-thumb {
    background-color: darkred;
    border-radius: 0px;  
}
