body {
    overflow-y: hidden;
}

#nav-center {
    border-top:1px solid darkgrey;
}
#nav-center a{
    color:darkgrey;
}
#nav-center:hover a {
    color:darkred;
}
#nav-center:hover {
    border-top:1px solid darkred;
}
#nav-right {
    border-top:1px solid darkgrey;
}
#nav-right a{
    color:darkgrey;
}
#nav-right:hover a {
    color:darkred;
}
#nav-right:hover {
    border-top:1px solid darkred;
}
#nav-left {
    color:darkred;
    border-top:1px solid darkred;
}

.sticky-img {
    height: 8rem;
    position: sticky;
    z-index: 3;
    /* filter: grayscale(100%) drop-shadow(1px 1px 3px darkgrey); */
    filter: grayscale(100%);
    /* mix-blend-mode:multiply; */
}

.sticky-img:hover {
    /* filter: grayscale(0%) drop-shadow(2px 2px 3px darkred); */
    filter: grayscale(0%);
    height:12rem;
    mix-blend-mode:normal;
    width:auto;
    transition:.5s ease;
}
#container-inner p {
    width:100%;
    padding:0px;
}

#container-inner a {
    text-decoration:none; 
}

#sticky-img-1 {
    top:1.5vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W21-Le_Billboard-01.webp");
}
/* #p1 {
    scroll-margin-top:3vh;
} */

#sticky-img-2 {
    top:46vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W21-Le_Facade-Color.webp");
}

#sticky-img-3 {
    top:66vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W20-Le_Sign-02.webp");
}

#sticky-img-4 {
    top:35vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/05/Bendito_Mockup-LB25-W12-Le_Truck.webp");
}

#sticky-img-5 {
    top:20vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/04/Bendito_Mockup-LB25-W10-Le_Coffee_Cup.webp");
}

#sticky-img-6 {
    top:57vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/08/Bendito_Mockup-LB25-W29-Le_Box.webp");
}

#sticky-img-7 {
    top:16vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/12/Bendito_Mockup-LB26-W01-Le_Business_Card.webp");
}

#sticky-img-8 {
    top:30vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/09/Bendito_Mockup-LB25-W31-Le_Sock.webp");
}

#sticky-img-9 {
    top:64vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/02/Bendito_Mockup-LB25-W05-Le_MacBook-02.webp");
}

#sticky-img-10 {
    top:6vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/05/Bendito_Mockup-LB25-W16-Le_Coffee_Cup.webp");
}

#sticky-img-11 {
    top:39vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/05/Bendito_Mockup-LB25-W13-Le_Juice_Bottle.webp");
}

#sticky-img-12 {
    top:22vh;
    content:url("https://the-brandidentity.com/uploads/cache/products/lb25-w28-le-air-freshener-mockup/5038776/LB25-W28-Le-Air-Freshener-Mockup-2-bc9e4.webp");
}


#sticky-img-13 {
    top:54vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W19-Le_Soap_Bottle-Color.webp");
}

#sticky-img-14 {
    top:26vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/05/Bendito_Mockup-LB25-W17-Le_Tote_Bag.webp");
}

#sticky-img-15 {
    top:65vh;
    content:url("https://the-brandidentity.com/uploads/cache/products/lb25-w16-le-wine-bottle-mockup-2/5038679/LB25-W16-Le-Wine-Bottle-Mockup-2-bc9e4.webp");
}

#sticky-img-16 {
    top:0vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/06/Bendito_Mockup-LB25-W18-Le_Can-Color.webp");
}

#sticky-img-17 {
    top:70vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/09/Bendito_Mockup-LB25-W31-Le_Keychain-Color.webp");
}

#sticky-img-18 {
    top:44vh;
    content:url("https://benditomockup.com/wp-content/uploads/2025/10/Bendito_Mockup-LB25-W38-Le_Cosmetic_Tube.webp");
}

#container::-webkit-scrollbar {
    width: 6px;         
}

#container::-webkit-scrollbar-thumb {
    background-color: darkred;
    border-radius: 0px;  
}

.subtitle {
    border-bottom:1px solid darkred;
}