#container-inner a {
    text-decoration:none;
    font-size:5rem;
    color:inherit;
}
#container-inner a:hover {
    font-style:italic;
    color:darkred;
}

body {
    overflow-y: hidden;
}

#nav-center {
    border-top:1px solid darkgrey;
}
#nav-center a{
    color:darkgrey;
}
#nav-center:hover a {
    color:darkred;
}
#nav-center:hover {
    border-top:1px solid darkred;
}
#nav-left {
    border-top:1px solid darkgrey;
}
#nav-left a{
    color:darkgrey;
}
#nav-left:hover a {
    color:darkred;
}
#nav-left:hover {
    border-top:1px solid darkred;
}
#nav-right {
    color:darkred;
    border-top:1px solid darkred;
}